*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 400;
}

/* Container */
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}


/* Header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    line-height: 3.5;
    align-items: center;
}

.header_logo {
    color: #fff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.nav_link {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 30px;
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url(../img/bg.jpg) center no-repeat;
    height: 100vh;
    background-size: cover;
}

.intro_inner {
    text-align: center;
    line-height: 2;
}

.intro_title {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}

.intro_subtitle {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}

.btn_link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: solid #fff 2px;
    padding: 5px 30px;
}
.btn_link:hover {
    background-color: #fff;
    color: #c0301c;
}


/* Services */
.block_services {
    max-height: 775px;
    height: 100%;
}
.title_services {
    text-align: center;
}

.minititle_services {
    margin: 95px auto 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #555;
}
.minititle_services::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin: 30px auto;
    background-color: #555;
}

.title_string_services {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #555;
}

.block_services_menu {
    display: flex;
    margin: 65px auto 100px;
}

.block_services_one {
    width: 100%;
    max-width: 350px;
    text-align: center;
}
.t_s {
    color: #555;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 30px auto 20px;
}
.services_string {
    color: #555;
}

.block_services_two {
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
}

.block_services_three {
    width: 100%;
    max-width: 350px;
    text-align: center;
}


/*  */
